# MacOS
.DS_Store

# Python
*.pyc
__pycache__/
dist/
build/
*.egg-info/

# Experiments
tmp/

# Jupyter notebook
.ipynb_checkpoints/

# Book build output
_book
# Dependency packages
node_modules
# Jupyter Notebook checkpoint
.ipynb_checkpoints
